<!DOCTYPE html>
<html>
<head>
	<title>Uwaw</title>

	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
	<form method="POST" action="">
	<div class="form">
    	<input type="text" id="user" name="user" placeholder="Username..">
    	<h3>Siapakah yang paling anda cintai</h3>
    	<input type="text" id="lupa" name="lupa" placeholder="....">
	</div>
	<button style="margin-left: 10%;" type="submit" class="btn from-left">Login</button>
	<p style="font-size:15px; ">Sudah ingat ? <a class="a text" href="{{url_for('index')}}">Kembali</a></p>
	</form>
	
</body>
</html>